@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

nav{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #cafdff;
}

header{
    background-color: #eadcff;
    height: calc(100vh - 70px);
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;    
}

h1{
    font-size: 72px;
}

.subheader{
    font-size: 36px;
    margin: 16px 0 24px 0;
}

button{
    background-color: #05c7cf;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 24px;
    cursor: pointer;
}

a{
    color: black;
    font-size: 24px;
    font-weight: 700;
}

.logo{
    width: 100%;
    max-width: 150px;
    margin-left: 20px;
}

ul{
    display: flex;
}

li{
    list-style-type: none;
    padding: 0 16px;
}

.row{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#About, #Discord, #Contact, footer{
    padding: 48px 0;
    background-color: #f8ffdc;
} 

/* ABOUT */


h2{
    font-size: 60px;
    text-align: center;
    margin-bottom: 24px;
}

.section_description{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_img--wrapper{
    width: 40%;
    padding: 0 24px;
}

img{
    width: 100%;
}

.sectiopn_description--wrapper{
    width: 60%;
    padding: 0 24px;
}

.section_description--paragraph{
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 24px;
}

/* Discord */

#Discord{
    background-color: #cefeff
}

/* CONTACT */

#Contact{
    background-color: #dce9ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form{
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
}

input, textarea{
    margin-bottom: 24px;
    font-size: 20px;
    padding: 6px 12px;
}

/* CONTACT */

footer{
    background-color: #aaf5ff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_logo{
    max-width: 250px;
}

.footer_links{
    margin-bottom: 32px;
}

.footer_link{
    padding: 0 16px;
}


/* SMART PHONES, TABLETS, LARGE SMART PHONES */
@media(max-width: 720px){
    .row{
        flex-direction: column;
    }

    .home_description{
        margin-bottom: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .h1{
        text-align: center;
        font-size: 60px;
    }

    .subheader{
        text-align: center;
        font-size: 28px;
    }

    .home_description--button{
        max-width: 240px;
    }


}

